---
BasedOnStyle: LLVM
IndentWidth: 8
UseTab: ForIndentation
TabWidth: 8
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 120
IndentCaseLabels: false
PointerAlignment: Right
SpaceAfterCStyleCast: false
AlignConsecutiveAssignments: false
